.dark-mode {
  background-color: var(--dark-color);
  color: #fff;
}

.dark-mode a {
  color: #fff;
}

.dark-mode h1 {
  font-family: var(--tertiary-text);
  font-size: 65px;
  line-height: 65px;
}

.dark-mode .mobile-nav {
  background-color: var(--dark-color);
}

.dark-mode .fa-moon,
.dark-mode .dark-icon {
  display: none;
}

.dark-mode .hamburger-menu li a,
.dark-mode .fa-sun {
  /* opposite light mode under the contact section */
  display: block;
  color: #000;
}

.dark-mode .nav-right span {
  background-color: #fff;
}

/* Hero */
.dark-mode .hero-left h1 {
  font-size: 65px;
}

/* Contact */
.dark-mode .light-icon {
  display: inline;
}

.dark-mode input,
.dark-mode textarea {
  border-color: #fff;
  color: #fff;
}
